.wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 20px;
}

.inputField {

}

.wrapper {

}

.input {
    border: none;
    font-size: 1.1em;
    background-color: var(--header-background-color);
}

.input:focus {
    outline: none;
}
