.wrapper {
    width: 100%;
    min-width: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.test {
    background-color: red;
}

.noteWrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
}