.wrapper {
    width: 600px;
    position: relative;
    margin: 32px auto 16px auto;
    border-radius: 6px;
    box-shadow: var(--box-shadow-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.buttonGroup {
    display: flex;
}

.input {
    margin: 11px;
    border: none;
    font-size: 1em;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
}

.input:focus {
    outline: none;
}

.icon {
    width: 24px;
    height: 24px;
    color: var(--header-text-color)
}