#root {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

body {
    --header-background-color: #ffffff;
    --header-text-color: rgb(65 80 93);

    --sideMenu-background-color: #f9f9f9
}

body.dark {
    --header-background-color: rgb(65 80 93);
    --header-text-color: #e1dada;

    --sideMenu-background-color: #424242
}